//
// @font-face rule
// Usage: @include font-face(TransportNewLight, TransportNewLight);
//
// Help: https://css-tricks.com/snippets/css/using-font-face/
//

@mixin font-face($font-name, $font-file-name) {

  @font-face {

    // font-family: '#{$font-name}';
    // font-style: normal;
    // font-weight: normal;
    // src: url('../../assets/fonts/#{$font-file-name}.eot');                                      // IE9 Compat Modes
    // src: url('../../assets/fonts/#{$font-file-name}.eot?#iefix') format('embedded-opentype'),   // IE6-IE8
    //      url('../../assets/fonts/#{$font-file-name}.ttf')  format('truetype'),                  // Safari, Android, iOS
    //      url('../../assets/fonts/#{$font-file-name}.woff') format('woff'),                      // Modern Browsers
    //      url('../../assets/fonts/#{$font-file-name}.svg#svg#{$font-file-name}') format('svg');  // Legacy iOS

    font-family: '#{$font-name}';
    font-style: normal;
    font-weight: normal;
    src: url('../../assets/fonts/#{$font-file-name}.ttf')  format('truetype'), 
        url('../../assets/fonts/#{$font-file-name}.woff') format('woff'), 
        url('../../assets/fonts/#{$font-file-name}.svg#svg#{$font-file-name}') format('svg'); 
     
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;

    /* Support for Safari and Chrome. */
    // text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    // font-feature-settings: 'liga';
    
  }

}
