/*
 * radio
 */

[type="radio"]:not(:checked),
[type="radio"]:checked {

  position: absolute;
  left: -9999px;

}

[type="radio"] + label {

  @extend %label;

}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {

  position: relative;
  padding-left: 1.95em;
  cursor: pointer;

}

[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {

  @include custom-property(border-color, --op-medium-gray, $op-medium-gray);
  border-style: solid;
  border-width: 2px;
  content: '';
  position: absolute;
  left: 0; 
  top: 0;
  width: 1.25em; /* magic number */
  height: 1.25em; /* magic number */
  background: $op-white;

  /* radio only */

  border-radius: 50%; 

}

[type="radio"]:checked + label:before {

  @include custom-property(border-color, --op-bright-blue, $op-bright-blue);

}

[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {

  content: '✔';
  @include custom-property(color, --op-bright-blue, $op-bright-blue);
  transition: $op-checkbox-transition;
  position: absolute;
  top: 0em; /* magic number */
  left: .2em; /* magic number */
  font-size: 1.4em; /* magic number */
  line-height: 0.8; /* magic number */

  /* radio only */

  content: "";
  // width: .7em;
  // height: .7em;
  @include custom-property(background-color, --op-bright-blue, $op-bright-blue);
  border-radius: 50%;
  // top: .11em;
  left: .1em;

  width: .85em; /* magic number */
  height: .85em; /* magic number */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

[type="radio"]:not(:checked) + label:after {

  opacity: 0;
  transform: scale(0);

}

[type="radio"]:checked + label:after {

  opacity: 1;
  transform: scale(1);
  

}

[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {

  // @include custom-property(background-color, --op-cool-gray, $op-cool-gray);

}

[type="radio"]:disabled:checked + label:after {

  @include custom-property(color, --op-cool-gray, $op-cool-gray);

}

[type="radio"]:disabled + label {

  @include custom-property(color, --op-cool-gray, $op-cool-gray);

}

[type="radio"]:checked:focus + label:before,
[type="radio"]:not(:checked):focus + label:before {

  @include custom-property(border-color, --op-bright-blue, $op-bright-blue);

}

[type="radio"]:not(:checked) + label:hover:before,
[type="radio"]:checked + label:hover:before {

  // @include custom-property(border-color, --op-dark-gray, $op-dark-gray);

}

[type="radio"]:not(:checked) + label:hover:before {

  @include custom-property(border-color, --op-dark-gray, $op-dark-gray);

}

[type="radio"]:disabled + label:hover:before {

  @include custom-property(border-color, --op-cool-gray, $op-cool-gray);

}
