/*
 * text
 */

a {

  @extend %a;

}

p {

  @extend %paragraph;

}

blockquote {

  @extend %blockquote;

}

small {

  font-size: $op-font-size-eta;

}

b,
strong {

  //

}

i,
em {

  //

}

/* prevent 'sup' and 'sub' elements from affecting line-height 
   https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height */

sup,
sub {

  vertical-align: baseline;
  position: relative;
  top: -0.4em;

}

sub {

  top: 0.4em;

}

abbr {

  // text-decoration: none;
  // border-bottom-width: 1px; 
  // border-bottom-style: solid;

}

mark,
cite,
kbd,
code,
samp,
var, 
ins, 
dfn {

  // @include custom-property(background-color, --op-medium-gray, $op-medium-gray);
  // padding: .25em .5em;

}

ins {

  // text-decoration: none; 

}

pre {

  // margin: 0;
  
}