/*
 * background color
 */

.op-u-bg-corporate-blue {

  @include custom-property(background-color, --op-corporate-blue, $op-corporate-blue);

}

.op-u-bg-corporate-yellow {

  @include custom-property(background-color, --op-corporate-yellow, $op-corporate-yellow);

}

.op-u-bg-orange {

  @include custom-property(background-color, --op-orange, $op-orange);

}

.op-u-bg-bright-blue {

  @include custom-property(background-color, --op-bright-blue, $op-bright-blue);

}

.op-u-bg-pale-yellow {

  @include custom-property(background-color, --op-pale-yellow, $op-pale-yellow);

}

.op-u-bg-pale-blue {

  @include custom-property(background-color, --op-pale-blue, $op-pale-blue);

}

.op-u-bg-bright-orange {

  @include custom-property(background-color, --op-bright-orange, $op-bright-orange);

}

.op-u-bg-red {

  @include custom-property(background-color, --op-red, $op-red);

}

.op-u-bg-green {

  @include custom-property(background-color, --op-green, $op-green);

}

.op-u-bg-dark-green {

  @include custom-property(background-color, --op-dark-green, $op-dark-green);

}

.op-u-bg-black {

  @include custom-property(background-color, --op-black, $op-black);

}

.op-u-bg-dark-gray {

  @include custom-property(background-color, --op-dark-gray, $op-dark-gray);

}

.op-u-bg-medium-gray {

  @include custom-property(background-color, --op-medium-gray, $op-medium-gray);

}

.op-u-bg-cool-gray {

  @include custom-property(background-color, --op-cool-gray, $op-cool-gray);

}

.op-u-bg-light-gray {

  @include custom-property(background-color, --op-light-gray, $op-light-gray);

}

.op-u-bg-white {

  @include custom-property(background-color, --op-white, $op-white);

}
