/*
 * display
 */

.op-u-display-contents {

  display: contents;

}

/* show/hide based on viewport width */

.op-u-display {

  //

  &--small {
    
    //
  
  }
  
  &--medium {
    
    display: none;
    
    @include mq($op-medium-breakpoint) {
      
      display: block;
    
    }

  }
        
  &--large {

    //

  }

  &--small-only {

    //

    @include mq($op-medium-breakpoint) {

      display: none;

    }
  
  }
  
  &--medium-only {
    
    //
    
    @include mq($op-large-breakpoint) {

      display: none;

    }

  }
        
  &--large-only {

    display: none;
    
    @include mq($op-large-breakpoint) {

      display: block;

    }

  }

  &--small-medium-only {
    
    //
    
    @include mq($op-large-breakpoint) {

      display: none;

    }

  }

}
