/*
 * font
 */

.op-u-f-primary {

  font: $op-font-primary;

}

.op-u-f-primary-light {

  font: $op-font-primary-light;

}

.op-u-f-primary-bold {

  font: $op-font-primary-bold;

}

.op-u-f-primary-italic {

  font: $op-font-primary-italic;

}

.op-u-f-secondary {

  font: $op-font-secondary;

}

.op-u-f-secondary-bold {

  font: $op-font-secondary-bold;

}

.op-u-f-secondary-italic {

  font: $op-font-secondary-italic;

}