/*
 * text color
 */

.op-u-corporate-blue {

  @include custom-property(color, --op-corporate-blue, $op-corporate-blue);

}

.op-u-corporate-yellow {

  @include custom-property(color, --op-corporate-yellow, $op-corporate-yellow);

}

.op-u-orange {

  @include custom-property(color, --op-orange, $op-orange);

}

.op-u-bright-blue-text {

  @include custom-property(color, --op-bright-blue-text, $op-bright-blue-text);

}

.op-u-pale-yellow {

  @include custom-property(color, --op-pale-yellow, $op-pale-yellow);

}

.op-u-pale-blue {

  @include custom-property(color, --op-pale-blue, $op-pale-blue);

}

.op-u-bright-orange {

  @include custom-property(color, --op-bright-orange, $op-bright-orange);

}

.op-u-red {

  @include custom-property(color, --op-red, $op-red);

}

.op-u-green {

  @include custom-property(color, --op-green, $op-green);

}

.op-u-dark-green {

  @include custom-property(color, --op-dark-green, $op-dark-green);

}

.op-u-black {

  @include custom-property(color, --op-black, $op-black);

}

.op-u-dark-gray {

  @include custom-property(color, --op-dark-gray, $op-dark-gray);

}

.op-u-medium-gray {

  @include custom-property(color, --op-medium-gray, $op-medium-gray);

}

.op-u-cool-gray {

  @include custom-property(color, --op-cool-gray, $op-cool-gray);

}

.op-u-light-gray {

  @include custom-property(color, --op-light-gray, $op-light-gray);

}

.op-u-white {

  @include custom-property(color, --op-white, $op-white);

}


