/*
 * utility
 */

.op-u-nobr {

  white-space: nowrap;

}

.op-u-text-center {

  text-align: center;

}

.op-u-no-text-transform {

  text-transform: none;

}

.op-u-text-left {

  text-align: left;

  /* NOTE: override rules that affect alignment */

  table td & {

    text-align: left;

  }

}

.op-u-text-right {

  text-align: right;

}

.op-u-float-right {

  float: right;

}

.op-u-text-no-wrap {

  white-space: nowrap;

}

.op-u-required {

  // color: $note-red;

}

.op-u-error {

  // color: $note-red;

}

.op-u-no-top-margin {

  margin-top: 0;

}
