{{# pl-palette }}

<div class="op-l-grid op-pl-o-palette op-pl-o-palette--colors">

  {{# item }}

  <div class="op-l-grid__item op-pl-o-palette__item">

    <div class="op-pl-o-palette__box op-pl-o-palette__box--colors">

      <div class="op-pl-o-palette__swatch op-pl-o-palette__swatch--color {{ bg-utility-class }}">
      </div>
      
      <div class="op-pl-o-palette__details">
        <ul class="op-pl-o-palette__list">
          <li class="op-pl-o-palette__list-item op-pl-o-palette__heading">
            {{ name }} 
          </li>
          <li class="op-pl-o-palette__list-item">
            {{ variable }}
          </li>
          <li class="op-pl-o-palette__list-item">
            #{{ hex-value }}
          </li>
          <!--
          <li class="op-pl-o-palette__list-item">
            rgb({{ rgb-value }})
          </li>
          <li class="op-pl-o-palette__list-item">
            cmyk({{ cmyk-value }})
          </li>
          -->
          <li class="op-pl-o-palette__list-item">
            .{{ utility-class }}
          </li>
          <li class="op-pl-o-palette__list-item">
            .{{ bg-utility-class }}
          </li>
        </ul>
      </div>
      
    </div>
  </div>

  {{/ item }}

</div>

{{/ pl-palette }}