// 
// pagination
// 

%pagination {

  // 

}

%pagination__list {

  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

}

%pagination__item {

  @include custom-property(background-color, --op-white, $op-white);

}

%pagination__link {

  display: block; 
  line-height: 34px; 
  padding: 0 .5rem; 
  border: 1px solid transparent;  /* improves horizonal alignment of text links and arrow links */


}

%pagination__link--active {

  @include custom-property(background-color, --op-light-gray, $op-light-gray);
  color: $op-black; 
  padding: 0 .75rem; 
  border: 1px solid $op-medium-gray; 

  &:hover {

    text-decoration: none;
    
  }

}

%pagination__link--inactive {

  color: $op-black; 
  cursor: default; 

}

%pagination-arrow {

  // padding: 0; 
  // width: 36px; /* matches with line-height but with added 2px to take border into account -- causes element to display as square */
  text-align: center; 
  text-decoration: none;
  border: 1px solid $op-medium-gray; 

  a, 
  span {

    border: 0;

  }

}