// 
// table
// 

%table {

  width: 100%;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 1rem; /* bottom margin should be in variable */

}

%caption {

  font: $op-font-secondary-italic;
  font-size: $op-font-size-eta;

}

%th {

  @include custom-property(color, --op-black, $op-black);
  @include custom-property(border-color, --op-black, $op-black);
  border-width: 0 0 1px;
  border-style: solid;
  padding: 0 1rem .75rem;
  font-weight: bold; 
  vertical-align: bottom; 
  text-align: left;

}

%td {

  @include custom-property(border-color, --op-medium-gray, $op-medium-gray);
  vertical-align: top; 
  padding: .75rem 1rem;
  border-width: 0 0 1px;
  border-style: solid;
  text-align: left;

}
