// 
// text input 
// 

%text-input {

  @include custom-property(border-color, --op-cool-gray, $op-cool-gray);
  border-style: solid;
  border-width: 1px; /* this value should be in variable -- same number used for <select>, checkbox and radio */
  font: $op-font-primary;
  font-size: $op-font-size-default; 
  height: 2.875rem;
  width: 100%;
  padding: .6rem .75rem;
  outline: none;
  border-radius: 0;
  appearance: none; 

  &[type=file] {

    width: 100%; 
  
  }

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {

    -webkit-appearance: none;

  }

  &::placeholder {

    // font-style: italic;
    // color: green;
    // line-height: 1; /* should match text input line-height */
  
  }

  &:placeholder-shown {

    //
  
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button {

    // display: none;

  }

  &:hover {

    @include custom-property(border-color, --op-dark-gray, $op-dark-gray);

  }

  &:focus {

    @include custom-property(border-color, --op-bright-blue, $op-bright-blue);

  }
  
  /* remove IE's "clear" button */

  &::-ms-clear {

    display: none; 

  }

  /* target IE 10 and 11 */

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  
    /* in IE 11, without setting the line-height, text seems to be closer to the bottom edge of the text input */

    line-height: 1;

  }

  /* target firefox */

  ::-moz-placeholder {  

    /* firefox decreases placeholder opacity by default, so reset back to 1 */

    opacity: 1;

  } 

}
