// 
// text 
// 

%a {

  @include custom-property(color, --op-bright-blue-text, $op-bright-blue-text);
  transition: $op-text-transition; 
  text-decoration: none; 

  &:hover {

    text-decoration: underline;

  }

  &:focus {

    //

  }

  &:active {

    //

  }

  &:visited {

    //

  }

}

%paragraph {

  margin: 0 0 1.3rem;

}

%blockquote {

  @include custom-property(border-left-color, --op-medium-gray, $op-medium-gray);
  border-left-style: solid; 
  border-left-width: 2px;
  margin: 1em 0 1em 2em;
  padding: 0 0 0 1em; 

}