//
// colors
//

// corporate palette

$op-corporate-blue :   #172962; 
$op-corporate-yellow : #fb0;
$op-orange :           #e37628;
$op-bright-blue :      #028abe;
$op-bright-blue-text : #3e7bae;
$op-pale-yellow :      #fdf5c7;
$op-pale-blue :        #e1effc;

// alternate palette

$op-bright-orange :    #ff6400; 
$op-red :              #ce0000; 
$op-green :            #98cb4e; 
$op-dark-green :       #3d9400; 

// neutral palette

$op-black :            #000; 
$op-dark-gray :        #333;      // 80% black
$op-medium-gray :      #7f7f7f;   // 50% black
$op-cool-gray :        #ccc;      // 20% black
$op-light-gray :       #ebf1f6; 
$op-white :            #fff; 

// alerts 

$op-alert-primary-color : $op-red; 
$op-alert-major-color :   $op-red;
$op-alert-minor-color :   $op-orange;

// progress

$op-progress-color :      $op-red;
$op-progress-background : $op-dark-green;