/*
 * custom properties
 */

:root {

  /* primary palette */

  --op-corporate-blue :   #{$op-corporate-blue}; 
  --op-corporate-yellow : #{$op-corporate-yellow}; 
  --op-orange :           #{$op-orange}; 
  --op-bright-blue :      #{$op-bright-blue}; 
  --op-bright-blue-text : #{$op-bright-blue-text}; 
  --op-pale-yellow :      #{$op-pale-yellow}; 
  --op-pale-blue :        #{$op-pale-blue}; 

  /* alternate palette */

  --op-bright-orange :    #{$op-bright-orange}; 
  --op-red :              #{$op-red}; 
  --op-green :            #{$op-green}; 
  --op-dark-green :       #{$op-dark-green}; 

  /* neutral palette */

  --op-black :            #{$op-black}; 
  --op-dark-gray :        #{$op-dark-gray}; 
  --op-medium-gray :      #{$op-medium-gray}; 
  --op-cool-gray :        #{$op-cool-gray}; 
  --op-light-gray :       #{$op-light-gray}; 
  --op-white :            #{$op-white}; 

  /* alerts */

  --op-alert-major-color : #{$op-alert-primary-color}; 
  --op-alert-minor-color : #{$op-alert-minor-color}; 

  /* sizes */

  --op-component-min-width : #{$op-component-min-width}; 
  --op-component-max-width : #{$op-component-max-width}; 

}
