//
// fonts
//

// Help: 
// https://developer.mozilla.org/en-US/docs/Web/CSS/font

// Google Fonts URL:
// https://fonts.google.com/specimen/Roboto?selection.family=Open+Sans:300,400,700|Roboto:500

// fonts

$op-font-family-primary :       'Open Sans', sans-serif;
$op-font-primary :              normal normal 400 100%/1.5 $op-font-family-primary;
$op-font-primary-italic :       italic normal 400 100%/1.5 $op-font-family-primary;
$op-font-primary-light :        normal normal 300 100%/1.5 $op-font-family-primary;
$op-font-primary-bold :         normal normal 700 100%/1.5 $op-font-family-primary;

$op-font-family-secondary :     'Roboto', sans-serif;
$op-font-secondary :            normal normal 400 100%/1.5 $op-font-family-secondary;
$op-font-secondary-italic :     italic normal 400 100%/1.5 $op-font-family-secondary;
$op-font-secondary-bold :       normal normal 500 100%/1.5 $op-font-family-secondary;
