//
// font size
//

// $op-font-size-giga :  44px;
$op-font-size-mega :     38px;
$op-font-size-kilo :     32px;
$op-font-size-alpha :    28px;
$op-font-size-beta :     26px;
$op-font-size-gamma :    20px;
$op-font-size-delta :    18px;
$op-font-size-epsilon :  16px;
$op-font-size-zeta :     14px;
$op-font-size-eta :      12px;
$op-font-size-iota :     10px;

$op-font-size-default :  $op-font-size-epsilon;