//
// transitions
//

$op-default-transition :  all .15s ease-in-out;

$op-text-transition :     $op-default-transition; 
$op-btn-transition :      $op-default-transition; 
$op-checkbox-transition : $op-default-transition; 
$op-menu-transition :     opacity .15s ease-in-out; 
