  
  <!-- jquery -->
  <!--
  <script 
    src="http://code.jquery.com/jquery-3.3.1.min.js" 
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  -->
 
  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

  <!-- scripts -->
  <script src="../../assets/js/scripts.js"></script>

  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  
  </body>
</html>
